@import url(//fonts.googleapis.com/css?family=Montserrat);

  * {
    font-family: Montserrat;
  }
  .quarterCard{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #D3E1DA;
    border-radius: 10px;
    width: 265px;
    height: 310px;
  padding-top: 19px;
  padding-right: 14px;
  padding-bottom: 26px;
  padding-left: 27px;
  }

  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2dbdb1;
    padding-bottom: 5px;
  }

  .dates {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #2dbdb1;
    padding-bottom: 10px;
  }

  .first {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2dbdb1;
    padding-bottom: 15px;
  }

  .second {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2dbdb1;
        padding-bottom: 15px;

  }

  .third {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2dbdb1;
  }

  .task1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5a5a5a;
    padding-bottom: 27px;
   
  }
  .task2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5a5a5a;
    padding-bottom: 23px;
  }

  .task3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5a5a5a;
    padding-bottom: 1px;
  }

  .pencil{
    margin-left: 140px;
  }
.block-container {
  display: flex;
  flex-direction: row;
  
  .col {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
     
        width: 17px;
        height: 140px;
      padding-top: 84;
  }
    .col1 {
    display: flex;
    flex-direction: column;
        width: 222.42px;
        height: 200px;
        padding-top: 15px;

    
    /* The below styles define the individual block elements */
   
  }
}

